/*Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42; */

/***************************
****************************
Reset Styles
****************************
***************************/

@import 'normalize.css';
/* Change all elements to use border-box */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/***************************
****************************
Base Styles
****************************
***************************/

body {
    color: #414042; /*Especifica el color del texto*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    color: #8dc63f;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}


/***************************
****************************
Layout Styles
****************************
***************************/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px; /* 15px + 1170px + 15px = 1200px es nuestro brakepoint*/
}

.row {
    margin-right: -15px; /* Dado que el contenedor tiene un padding de 15 px agregamos una margen de 15px para que quede al ras con el contenedor*/
    margin-left: -15px;
}

.row:after { /*Nos permite corregir cualquier elemento flotante dentro del contenedor y sea tomado en cuenta sus dimensiones*/
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] { /*Este selector se aplica a toda clase que comience con col-*/
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Media Query excludes extra small devices and includes small and above */
@media (min-width: 48em) { /*excluye extra small devices-incluye el resto de tamaños*/
    [class*='col-'] {
        float: left;
    }
    /* Column Third */
    .col-1-3 {
        width: 33.3333%;
    }
    /* Column Two Thirds */
    .col-2-3 {
        width: 66.6666%;
    }
}


/***************************
****************************
Module Styles
****************************
***************************/


/***************************
****************************
Theme Styles
****************************
***************************/

.background-primary {
    background: #F7941E; /*Orange*/
  }
  .background-secondary {
    background: #00AEEF; /*Blue*/
  }
  .background-tertiary {
    background: #8DC63F; /*Green*/
  }