/*Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42; */

/***************************
****************************
Reset Styles
****************************
***************************/

@import 'normalize.css';
/* Change all elements to use border-box */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/***************************
****************************
Base Styles
****************************
***************************/

body {
    color: #414042; /*Especifica el color del texto*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    color: #8dc63f;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}


/***************************
****************************
Layout Styles
****************************
***************************/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px; /* 15px + 1170px + 15px = 1200px es nuestro brakepoint*/
}


/***************************
****************************
Module Styles
****************************
***************************/


/***************************
****************************
Theme Styles
****************************
***************************/

.background-primary {
    background: #F7941E; /*Orange*/
  }
  .background-secondary {
    background: #00AEEF; /*Blue*/
  }
  .background-tertiary {
    background: #8DC63F; /*Green*/
  }